@function pxToRem($pxsize,$rembase:16){
    @return ($pxsize/$rembase) +rem;
}

@mixin boxShadow($arg){
    -webkit-box-shadow: $arg ;
    box-shadow: $arg;
} 


$prefixes: (-webkit-box,-ms-flexbox,-webkit-flex,flex);

@mixin myFlex() {
    @each $prefix in  $prefixes {
        display: $prefix;
    }
}

@mixin createFlex($flex-direction: false,$flex-flow:false) {
    
    @if$flex-direction{
        @if$flex-direction == 'column'{
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: $flex-direction;
            flex-direction: $flex-direction;
        }
       @else if $flex-direction == 'row'{
            -webkit-box-orient: horizontal;
            -webkit-box-direction: reverse;
            -ms-flex-flow: $flex-flow;
            flex-flow: $flex-flow;
            -ms-flex-direction: $flex-direction;
            flex-direction: $flex-direction;
       }
    }
}

@mixin  createCol() {
    @each $size in $sizes {
        $index: index($sizes, $size) ;
        .col-#{$index} {
            width: $size;
        }
    }
}

