.nav{
    &-logo{
      margin-left: auto;
      img {
        padding: 0 $space-small;
      }
      
    }
    &-links {
      list-style: none;
      li{
        display: inline-block;
        padding: 0 $space-x-small;
        margin: $space-xx-small;
        a {
          -webkit-transition: all 0.5s ease 0s;
          -o-transition: all 0.5s ease 0s;
          transition: all 0.5s ease 0s;
          color: $c-grey2;
          &:hover{
            background: -webkit-gradient(
              linear,
              right top,
              left top,
              from($c-pink),
              to($c-pink2)
            );
            background: -o-linear-gradient(right, $c-pink, $c-pink2);
            background: linear-gradient(to left, $c-pink, $c-pink2);
            color: $c-white;
            padding: $space-xx-small $space-small;
            border: none;
            -webkit-transition: all 0.5s ease 0s;
            -o-transition: all 0.5s ease 0s;
            transition: all 0.5s ease 0s;
            border-radius: $space-xxx-large;
            cursor: pointer;
          }
        }
      }
    }
  }

.MyProj {
    color: $c-pink;
    padding: $space-xx-small $space-standard;
    font-weight: 550;
    margin-right: 5%;
    border: 1px solid $c-pink;
    border-radius: $space-xxx-large;
    cursor: pointer;
    transition: all 1.5s ease-in 0s;
  }