footer {
  @include myFlex();
  .main-footer{
    &__container{
      width: 100%;
      height: 100vh;
      border-bottom: $space-xx-small solid $c-pink2;
      background-color:$c-white;
      z-index: 0;  
    }
    &__uppercontent{
      background-color: $c-darkerPurple;
      height: 72%;
      width: 100%;
      @include myFlex();
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;

      .contant-form {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        @include myFlex();
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;

        form {
          padding-top: $space-X-large;
          @include createFlex(column);
          justify-content: space-around;
          @include myFlex();
          width: 30%;
          margin: auto;

          
        }
        input{
          &[type="text"]{
            border: 1px solid $c-lightGrey;
          border-radius: $space-xx-small;
          background-color: $c-white;
          height: $space-large;
          }
          &[type="text"]:focus{
            background: -webkit-gradient(
            linear,
            right top,
            left top,
            from($c-pink),
            to($c-pink2)
          );
          background: -o-linear-gradient(right, $c-pink, $c-pink2);
          background: linear-gradient(to left, $c-pink, $c-pink2);
          color: $c-white;
          }
          &[type="button"]{
            color: $c-white;
            margin: 10% 35%;
            padding: $space-xx-small $space-large;
          }
          
        }
        label{
          color: $c-white;
          font-size: pxToRem(10);
          padding-left: $space-small;
        }
        textarea{
          width: 100%;
          height: $space-X-large;
          margin-top: $space-small;
          border: 1px solid $c-lightGrey;
          border-radius: $space-xx-small;
          background-color: $c-white;
        }
  
      }
    }
    &__downcontent {
      background-color: $c-darkPurple;
      height: 28%;
      width: 100%;
      @include myFlex();
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;

      .contener {
        width: 20%;
        position: relative;
        
        .sub-container {
          min-height: $wrapper-H-s;
          min-width: 40%;
          @include myFlex();
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -ms-flex-pack: distribute;
          justify-content: space-around;

          .footer-icon__container {
            width: $space-x-large;
            height: $space-x-large;
            border-radius: 15%;
            background-color: $c-darkerPurple;
            @include myFlex();
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-transition: all 1.5s ease-in 1s;
            -o-transition: all 1.5s ease-in 1s;
            transition: all 1.5s ease-in 1s;
            &:hover {
              background: -webkit-gradient(
                linear,
                right top,
                left top,
                from($c-pink),
                to($c-pink2)
              );
              background: -o-linear-gradient(right, $c-pink, $c-pink2);
              background: linear-gradient(to left, $c-pink, $c-pink2);
            }
          }
        }
        
        
        .JK {
          @include myFlex();
      
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          @include createFlex(column);
          justify-content: space-around;
          color: $c-lightGrey;
        }
      }
    }
  }
  }
  


  @media screen and (min-width: 0) and (max-width: $break-m) {
    form{width: 60%;}
    
  }
 
  @media screen and (min-width:$break-m) and (max-width: $break-l) {
    form{width: 40%;}
    
  }