header {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
   @include myFlex();
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: $space-standard 15%;
    border-bottom: 1px solid $c-pink;
    background-color: $c-white;
    .logo {
      cursor: pointer;
      padding-right: 10%;
    }
  }


  @media screen and (min-width: $break-xs) and (max-width: $break-s){
    .nav-linksH {
      padding-right: 31%;
    }
    .nav-logo {
      padding-left: 30%;
    }
    .nav-linksH li {
      
      Width: $wrapper-W-s;
    }
  }