@include createCol();

.center-content {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  @include myFlex();
  height: $wrapper-H-l;
  border-bottom-left-radius: 90% 60%;
  border-bottom-right-radius: 90% 60%;
  background-color: $c-white;
}
.content-center{
  &__wrapper {
    background-color: $c-lightGrey2;
  }
  &__backgroundImg {
    margin-top: $wrapper-H-l;
    display: block;
    position: relative;
    transition: 3s all;
    overflow: hidden;
    border-collapse: collapse;
    max-height: 0;
    width: 50%;
    border-radius: $space-standard;
    border-bottom-left-radius: 60% $space-large;
    border-bottom-right-radius: 60% $space-large;
    background-color: $c-white;
    @include myFlex();
    @include boxShadow(0 $space-x-smallM $space-standard $c-lightGrey)
  }
  &__backgroundImgAnimate{
    margin-top: 0;
    display: block;
    position: relative;
    transition: 3s all;
    overflow: hidden;
    border-collapse: collapse;
    max-height: $wrapper-H-l;
    width: 50%;
    border-radius: $space-standard;
    border-bottom-left-radius: 60% $space-large;
    border-bottom-right-radius: 60% $space-large;
    background-color: $c-white;
    @include myFlex();
    @include boxShadow(0 $space-x-smallM $space-standard $c-lightGrey)
    
  }
}

.upper_bar {
  position: absolute;
  border-radius: $space-small $space-small 0 0;
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from($c-pink),
    to($c-pink2)
  );
  background: -o-linear-gradient(right, $c-pink, $c-pink2);
  background: linear-gradient(to left, $c-pink, $c-pink2);
  
  width: 100%;
  height: $space-large;
  top: 0;
  left: 0;
  p {
    color: $c-white;
    float: right;
    padding: $space-xx-small $space-large $space-xx-small;
  }

  %place-dot-holder{
    width: $space-x-small;
    height: $space-x-small;
    border-radius: 50%;
    float: left;
    margin: $space-x-small $space-xx-small $space-x-small $space-x-small;
  }
  .dot{
    &-yellow {
      background-color: $c-yellow;
      @extend %place-dot-holder;
    }
    &-green {
      background-color: $c-green;
      @extend %place-dot-holder;
    }
    &-red {
      background-color: $c-red;
      @extend %place-dot-holder;
    }
  }
}



.content-center__backgroundImgdownTxt {
  padding: $space-large 5%;
  width: 100%;
  .About {
  padding-top: 3%;
  @include myFlex();
  @include createFlex(column);
  span {
    font-size: pxToRem(20);
    font-weight: 600;
  }
  p {
    color: $c-grey;
    font-size: pxToRem(20);
  }
}
}

.content_downTxt-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}



.contnet-wrapper {
  @include myFlex();
  padding: 5% 0 0 5%;
  @include createFlex(row);
}

.leftSide {
  width: 50%;
  font-size: pxToRem(15);
  p span,
  p {
  font-size: pxToRem(15);
}
}

.pre {
  font-size: pxToRem(10);
  color: $c-pink;
  span {
    color: $c-grey2;
    font-size: pxToRem(20);
  }
}
.rightSide {
  width: 50%;
  .Skills {
    @include myFlex();
    @include createFlex(column);
    height: 100%;
    padding-left: $space-x-small;
  }
  .flex-content__wrapper {
    width: 100%;
    margin: 0 auto;
    @include myFlex();
    @include createFlex(row);
  }
  .flex-product__wrapper {
    @include myFlex();
    @include createFlex(column);
    margin: $space-xx-small;
    border-radius: $space-xx-small;
    background-color: $c-lightGrey;
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
    width: 10%;
    min-width: $space-large;
    &:nth-child(2n) {
      background-color: transparent;
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
    }
    .Skills-bar {
      background: -webkit-gradient(
        linear,
        right top,
        left top,
        from($c-pink),
        to($c-pink2)
      );
      background: -o-linear-gradient(right, $c-pink, $c-pink2);
      background: linear-gradient(to left, $c-pink, $c-pink2);
      border-radius: $space-xx-small;
      height: $space-standard;
      p {
        font-weight: 400;
        font-size: pxToRem(10);
        color: $c-white;
        margin: $space-xxx-small;
      } 
    }
    .html {
      width: 90%;
    }
    .css {
      width: 80%;
    }
    .js {
      width: 60%;
    }
    

    p span,
    p {
      font-size: pxToRem(15);
    }

}

}

@media screen and (min-width: 0) and (max-width: $break-m) {
  .leftSide{display: none}
  .rightSide{width: 100%} 
  .contener { width: 48%}
  .content_center-backgroundImg{
    width: 65%;
    border-bottom-left-radius: 61% 61px;
    border-bottom-right-radius: 60% 61px;
  }
  
}
